.container{
    margin: auto;
}

h3.login{
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #c3c3c3;
}
nav{
    margin-top: 20px;
}
header{
    overflow: hidden;
}
p{
    font-size: 1.25em;
}
